*{
    margin:0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}
img{
    display: block;
}
/* box1顶部样式 */
#box1{
    background: #f4f4f4;
    height: 30px;
    width:100%;
    padding-top:10px;
    text-align: center
}
#box1 a{
    margin-right: 30px;
    cursor: pointer;
      -webkit-user-select: none; /*禁止用户选中*/
}
/* box2查询栏样式 */
#box2{
    width: 100%;
    height: 60px;
    margin:0 auto;
    /* margin-top:30px; */
    padding-top: 30px;
    text-align: center;

    background: rgba(251, 172, 185, 0.959);
    /* border:1px solid #666; */
}
#box2>ul{
    height: 40px;
    width: 500px;
    float: left;
}
#box2>ul>li{
    height: 40px;
    width: 250px;
    line-height: 40px;
    float: left;
}
#box2>ul>li:nth-of-type(1){
    font-size: 25px;
}
#p{

    float: right;
    width: 400px;
    height: 40px;
    /* position: fixed; */
    /* left: 500px; */
    /* top: 100px; */
    border: 1px solid rgba(255,25,55,0.5);
    border-radius: 20px 20px;
    background-color: white;

}

#p>input{
    float: left;
    height: 40px;
    width: 320px;
    /*margin-top: 9px;*/
    margin-left: 14px;
    background-color: transparent;
    border: 0 solid red;
    outline: none;
}
#p>a{
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50% 50%;
    background-color: pink;
    text-align: center;
}
#p>a>img{
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 3px;
}
/* div3导航倒计时样式 */
#box3{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
#box3 ul li{
    float: left;
    width: 120px;
    padding:10px 0;
    text-align: center;
    font-size: 20px;
    background: white;
    cursor: pointer;
      -webkit-user-select: none; /*禁止用户选中*/
}
#index #l1 span{
    position: relative;
}
#index #l1 .pull-downY{
    display:none;

}
#index #l1 .pull-downX {
    position: absolute;
width:400px;
}
#index #l1 .pull-downX li{
    width:400px;
}
/* box4倒计时样式 */
#box4{
    width: 100%;
}
#box4 #time{
    background: black;
    height: 40px; 
    color:white;
    padding-top: 10px;
    text-align: center;   
}
#TabControl{
    width:100%;
    height: 350px;
}
#TabControl ul{
    width:100%;
    overflow: hidden;
}
#TabControl ul li{
    float: left;
    background: black;
    color:white;
    width: 269px;
    text-align: center;
    height: 35px;
    padding-top:15px;
}
#TabControl ul .tab{
    border: #fff solid 2px;
}
#TabControl img{
    display: none;
    width: 100%;
    height:300px;
}
#TabControl .active{
    
    display: block;
}
#box4 #goodstop{
    background: black;
    height: 40px; 
    text-align: center; 
    padding-top: 10px;
    color:white;
}
#box4 #goodstop span{
    margin-right: 40px;
}
#box4 #goodstop a{
    padding-right: 20px;
    color: white;
    position: relative;
}
#goodstop a .up{
    position: absolute;
    right: -30px;
    top: -3px;
    width:0px;
    height: 0px;
    border: 5px solid transparent;
    border-bottom: 6px solid white;
}
#goodstop a.on .up{
    border-bottom: 6px solid gray;
}
#goodstop a .down{
    position: absolute;
    right: -30px;
    bottom: -3px;
    width:0px;
    height: 0px;
    border: 5px solid transparent;
    border-top: 6px solid white;
}
#goodstop a.under .down{
    border-top: 6px solid gray;
}

/* box5商品样式 */
#box5{
    width: 1000px;
    /* height: 1000px; */
    margin: 0 auto;
    border: 1px solid pink;
}
#box5 ul{
    overflow: hidden;
}
#box5 ul li{
    width:250px;
    float: left;
    cursor: pointer;
      -webkit-user-select: none; /*禁止用户选中*/
}

#box5 ul li img{
    width: 100%;
}
#box5 ul li p{
    font-size: 16px;
    line-height: 24px;
    color: #444;
    overflow:hidden ;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 左侧楼层按钮 */
#aside{
    position: fixed;
    left: 0;
    top: 65%;
    width: 80px;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid #ccc;
}
#aside li{
    height: 50px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
      -webkit-user-select: none; /*禁止用户选中*/
}
/* 返回顶端按钮样式 */
#aside #up{
    display: none;
    background: pink;
}