<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .card {
            display: none;
            color: red;
        }

        div.card.active {
            display: block;
        }
        </style>
</head>
<body>
    <div id="app">
        <div>
            <div>
                <input type="text" v-model="inp">
                <button @click="isitz">搜索</button>
            </div>
            <div>
                <ul v-show="isdata">
                    <li v-for="(item,index) in itzdata"
                        :key="index">
                        <span @click="zhankai(index)"
                            :class="{active:select == index}">
                            {{item.title}}
                        </span>
                        <div v-html="item.content" 
                            :class="{active:select == index}"
                            class="card"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./vue.js"></script>
    <script src="./axios.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                inp:'',
                itzdata:{},
                isdata:false,
                select:null
            },
            created(){
                axios.get('./itz.json').then(({data})=>{
                    this.itzdata = data.data.listInfo;
                })
            },
            methods:{
                isitz(){
                    if(this.inp === '爱投资'){
                        this.isdata = !this.isdata;
                    }
                },
                zhankai(index){
                    if(index == this.select){
                        this.select = null;
                    }else{
                        this.select = index;
                    }
                    
                }
            }
        })
    </script>
</body>
</html>