*{
    margin: 0px;
    padding: 0px;
    background: white;
}
ul,li{
    list-style: none;
}
#all{
    width:1200px;
    margin: 0 auto;
    /* border:1px solid blue; */
}
/* 导航样式 */
#head{
    /* width:800px; */
    /* border:1px solid red; */
    margin-top: 30px;
    margin-bottom: 40px;
    height: 60px;
    padding-top: 10px;
    background: #f4f4f4;
}
#head a{
    font-size: 25px;
    padding-right:35px; 
    text-decoration: none;
    color: #666;
    background: transparent;
    position: relative;
}
#head span{
    font-size: 28px;
    margin-left: 15px;
    background: transparent;
}
/* 商品展示样式 */
#goods{
    background: #f4f4f4;
    border: 1px solid red;
    overflow: hidden;
    
}
#goods li{
    width:215px;
    border: 1px solid blue;
    float: left;
    margin: 0 10px;
}
#goods li img{
    width:100%;
}
/* 箭头样式 */
.nav a .up{
    position: absolute;
    width: 0px;
     height: 0px;
    /* right: -10px; */
    top: 4px;
    right: 20px;
    border:6px solid transparent;
    border-bottom: 6px #666 solid;
    
}
.nav a.on .up{
    border-bottom: 6px red solid;
}
.nav a .down{
    position: absolute;
    width:0px;
    height: 0px;
    top:20px;
    right:20px;
    border:6px solid transparent;
    border-top:6px solid #666;
}
.nav a.under .up{
    border-top: 6px red solid;
}