*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
#box{
    width: 1000px;
    margin: 0 auto;
    
}
#box li img{
    width: 200px;
    float: left;
}
#box li{
    border-bottom: 1px solid black;
    overflow: hidden;
    
}
